
<div class="text-center formcontainer">
    <form class="form-signin" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Registrar nuevo usuario</h1>
      <label for="username" class="sr-only">Nombre</label>
      <input type="text"  class="form-control" placeholder="Nombre" name="username" #username="ngModel" [(ngModel)]="user.username" required autofocus>

      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Contraseña" name="password" #password="ngModel" 
      [(ngModel)]="user.password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
      
    </form>
</div>