<div class="jumbotron" style="width: 100%; height: 10%;">
    
</div> 

<form class="form" #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)" >
    <div class="container">
        <div class="form-group">
            <label for="orderNo ">Orden n°:</label>
            <input name="orderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.orderNo" class="form-control mx-sm-3" readonly>
        </div>
        <div class="form-group">
            <label for="waiter">Mozo/a:</label>
            <input name="waiter" #waiter="ngModel" [(ngModel)]="service.formData.waiter" class="form-control mx-sm-3" readonly>
        </div>
        <div class="form-group">
            <label for="customerName">Mesa N°/ Nombre del cliente:</label>
            <input name="customerName" #customerName="ngModel" [(ngModel)]="service.formData.customerName" class="form-control mx-sm-3">
        </div>
        <div class="form-group">
            <label for="orderType">Tipo de pedido:</label>
            <select name="orderType" #orderType="ngModel" [(ngModel)]="service.formData.orderType" class="form-control mx-sm-3">
                <option default value="0">Come en local</option>
                <option value="1">Para llevar</option>
            </select>
        </div>
        <div class="row form-group">
            <div class="col">
                <label class="text-justify text-center" for="total">Total:</label>
            </div>
            <div class="col input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input name="gTotal" #gTotal="ngModel" [(ngModel)]="service.formData.gTotal" class="form-control" readonly>
            </div>
        </div>
    


    <!-- items table -->
    <table class="table table-borderless">
        <thead class="thead">
            <th>Item</th>
            <th>Precio</th>
            <th>#</th>
            <th>Total</th>
            <th><a (click)="addEditItem(null,service.formData.id)" class="btn btn-success text-light"><b>+</b></a></th>
        </thead>
        <tbody>
            <!-- display if no items -->
            <tr *ngIf="service.orderItems.length == 0">
                <td colspan="4">No hay ítems en esta orden.</td>
            </tr>
            
            <tr *ngFor="let item of service.orderItems; let i = index;">
                <td>{{ item.itemName }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.total }}</td>
                <div class="btn-group" role="group">
                    <th><a (click)="addEditItem(i,service.formData.id)" class="btn btn-warning">e</a><a (click)="onDeleteOrderItem(item.id, i)" class="btn btn-danger text-white">x</a></th>
                </div>
            </tr>
        </tbody>
    </table>

    <div class="form-group row">
    
        <a href="/orders" class="btn btn-danger col">Cancelar</a>
        <button type="submit" class="btn btn-success col"><b>Aceptar</b></button>
    </div>
</div>
</form>


